@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #0A1128;
}

p, ul {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

body {
    background-color: rgba(147, 168, 173, 0.1);
    color: #8c8c8c
}

main {
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

main section {
    padding: 50px;
}

header > div, main {
    max-width: 60%;
    margin: 0 auto;
}

header {
    background-color: #0A1128;
    padding: 50px;
    margin: 0 auto;
}

header h1, header p {
    color: #fff;
    text-align: center;
}

section {
    padding: 20px 0;
}

section > h2 {
    border-bottom: rgba(147, 168, 173, 0.2) 3px solid;
    padding-bottom: 10px;
}

.colors div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.color-1 {
    background-color: #0A1128;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.color-2 {
    background-color: #001F54;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.color-3 {
    background-color: #034078;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.color-4 {
    background-color: #5C9EAD;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.color-5 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.color-6 {
    background-color: #8c8c8c;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.header-values p, .p-values {
    font-size: smaller;
    color: #B0B0B0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

/* Media query */

/* Tablet View ****************************/
@media only screen and (min-width: 37.5em) {
    .colors {
        display: flex;
        grid-gap: 1em;
    }
}

/* Desktop View ****************************/
@media only screen and (min-width: 60em) {
    .colors {
        display: flex;
        grid-gap: 1em;
    }
}