@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.5em;
    padding-bottom: 10px;
}

.banner {
    background-color: #5c9ead;
}

.banner p {
    margin: 0;
}

.banner-text {
    padding: 26px;
    text-align: center;
    color: #fff;
}

.banner-content {
    display: flex;
    justify-content: center;
}

.marker {
    border-bottom: 2px solid #fff !important;
}

.hero {
    position: relative;
}

.hero h1 span {
    font-size: 1.5rem;
    font-weight: 300;
}

p, ul, a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#toggle {
    position: absolute;
    top: 5.5rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 99;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a1128;
}

header img {
    width: 50%;
    padding: 10px 0;
}

html {
    background-color: #f3f6f6;
}

.s2, .events, .weather, .reviews, .calendar {
    max-width: 375px;
    margin: auto;
}

/* .hero {
    background-image: url("../images/michael-hart-XalNOk0tgcA-unsplash.jpg");
    background-repeat: no-repeat;
    height: 320px;
    background-position: center;
    background-size: cover;
    padding: 80px 20px 0 20px;
} */

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 150px;
    font-size: 8px;
}

/* .overlay span {
    font-size: 8px;
} */

/* .overlay {
    position: absolute;
    top: 25%;
    right: 40%;
    background-color: #0a1128b4;
    padding: 20px 30px 40px 30px;
    border-radius: 8px;
} */

.hero h1 {
    color: #fff;
}

.hero div {
    text-align: center;
}

.hero a {
    padding: 10px 30px;
    border: #fff solid 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.hero a:hover {
    background-color: #5c9ead;
    border: #5c9ead solid 2px;
    transition: .3s;
}

main {
    background-color: #5c9ead0e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* padding-top: 60px; */
    color: #001f54;
}

/* .events-card, .weather-info, .reviews div {
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
} */

.s2, .weather, .reviews div {
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
}

.s2 {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.reviews {
    padding-bottom: 60px;
}

.weather h2 {
    text-align: center;
}

.weather-info h3 {
    grid-column: 1/3;
}

.weather-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
}

.weather-info img {
    width: 50px;
}

.weather-info div:first-child {
    grid-column: 1/3;
}

.weath-forecast {
    grid-column: 1/3;
    display: flex;
}

.member-title {
    text-align: center;
}

.reviews div {
    margin-bottom: 30px;
}

footer {
    background-color: #001f54;
    color: #fff;
    padding: 50px 35px;
}

footer div:nth-child(2) {
    padding-bottom: 10px;
}

.absolute-footer {
    padding-top: 10px;
    border-top: 1px #fff solid;
}

/* ************** Menu Styles ********************** */

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav ul li {
    padding: 0 5px;
}

nav li a {
    text-decoration: none;
}

nav li a:link {
    color: #fff !important;
}

nav li a:hover {
    color: #5c9ead;
}

/* ************** Hamburger Menu **********************
/* Mobile View */

nav {
    border-radius: 0 0 10px 10px;
}

nav ul {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    list-style-type: none;
    margin: 0;
    flex-direction: column;
}

nav ul li {
    padding: 15px 15px;
}

ul.navigation {
    padding: 0px;
    text-align: center;
}

#menu {
    display: block;
    font-size: 2rem;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
    text-decoration: none;
}

#menu::before {
    content: "≡";
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    text-decoration: underline;
    color: #5c9ead;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

/******************* DISCOVER PAGE STYLES *******************/

figure img {
    margin: 0 auto;
}

aside {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.sidebar {
    padding: 10px 0;
}

figure {
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
}

/******************* DIRECTORY PAGE STYLES *******************/

#cards section {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

.selection {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
    border-radius: 10px;
}

.selection button {
	padding: 1rem;
	font-weight: 700;
}

/******************* JOIN PAGE STYLES *******************/

.join {
    grid-column: 1/4;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
}

.join-title, .join-table {
    grid-column: 1/2;
}

.join-title {
    text-align: center;
}

.memb-levels {
    grid-column: 2/3;
    padding: 0 40px;
    border-radius: 10px;
    background-color: transparent;
}

.join-table {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

form {
    font-family: 'Quicksand', sans-serif;
    border: #0a1128 solid 2px;
    border-radius: 10px;
}

form label {
    padding: 10px 0;
}

form input, textarea {
    padding: 10px;
    border: #0a1128 solid 2px;
    border-radius: 5px;
}

.m-level input{
    padding: 10px 0;
}

.join-table input[type="submit"] {
    padding: 10px 0;
    margin-top: 20px;
    background-color: #001f54;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #001f54;
}

.join-table input[type="submit"]:hover {
    background-color: #ebf1f1;
    color: #0a1128;
    border: 2px solid #0a1128;
    transition: .2s;
}

.memb-levels {
    position: relative;
}

.membership-levels {
    /* border: #0a1128 solid 2px; */
    font-family: 'Quicksand', sans-serif;
    position: static;
    border-collapse: collapse;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(53, 53, 53, 0.103) !important;
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5) !important;
}
  
th {
    background-color: #5c9ead;
    color: #fff;
    padding: 20px;
}

td {
    padding: 0 20px;
}

thead tr {
    border: #0a1128 solid 2px;
}

thead tr th:first-child {
    border-right: #0a1128 solid 2px;
}

tr td:first-child {
    border-bottom: #0a1128 solid 2px;
    border-right: #0a1128 solid 2px;
    border-left: #0a1128 solid 2px;
}

tr td:nth-child(2) {
    border-bottom: #0a1128 solid 2px;
    border-right: #0a1128 solid 2px;
 }