@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('../styles/colors.scss');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.5em;
    padding-bottom: 10px;
}

.hero h1 span {
    font-size: 1.5rem;
    font-weight: 300;
}

p, ul, a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a1128;
}

header img {
    width: 50%;
    padding: 10px 0;
}

html {
    background-color: #f3f6f6;
}

.s2, .events, .weather, .reviews {
    max-width: 320px;
    margin: auto;
}

/* .hero {
    background-image: url("../images/michael-hart-XalNOk0tgcA-unsplash.jpg");
    background-repeat: no-repeat;
    height: 320px;
    background-position: center;
    background-size: cover;
    padding: 80px 20px 0 20px;
} */

.hero-image {
    position: relative;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay {
    background-color: #0a1128b4;
    padding: 20px 30px 40px 30px;
    width: 150px;
    height: 200px;
    font-size: 8px;
}

.overlay span {
    font-size: 4px;
}

/* .overlay {
    position: absolute;
    top: 25%;
    right: 40%;
    background-color: #0a1128b4;
    padding: 20px 30px 40px 30px;
    border-radius: 8px;
} */

.hero h1 {
    color: #fff;
}

.hero div {
    text-align: center;
}

.hero a {
    padding: 10px 30px;
    border: #fff solid 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.hero a:hover {
    background-color: #5c9ead;
    border: #5c9ead solid 2px;
    transition: .3s;
}

main {
    background-color: #5c9ead0e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 60px;
    color: #001f54;
}

/* .events-card, .weather-info, .reviews div {
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
} */

.s2, .weather, .reviews div {
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
}

.s2 {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.reviews {
    padding-bottom: 60px;
}

.weather-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.weather-info img {
    width: 50px;
}

.weather-info div:first-child {
    grid-column: 1/2;
}

.weather-info div:nth-child(2) {
    grid-column: 2/3;
}

.member-title {
    text-align: center;
}

.reviews div {
    margin-bottom: 30px;
}

footer {
    background-color: #001f54;
    color: #fff;
    padding: 50px 35px;
}

footer div:nth-child(2) {
    padding-bottom: 10px;
}

.absolute-footer {
    padding-top: 10px;
    border-top: 1px #fff solid;
}

/* ************** Menu Styles ********************** */

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav ul li {
    padding: 0 5px;
}

nav li a {
    text-decoration: none;
}

nav li a:link {
    color: #fff !important;
}

nav li a:hover {
    color: #5c9ead;
}

/* ************** Hamburger Menu **********************
/* Mobile View */

nav {
    border-radius: 0 0 10px 10px;
}

nav ul {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    list-style-type: none;
    margin: 0;
    flex-direction: column;
}

nav ul li {
    padding: 15px 15px;
}

ul.navigation {
    padding: 0px;
    text-align: center;
}

#menu {
    display: block;
    font-size: 2rem;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
    text-decoration: none;
}

#menu::before {
    content: "≡";
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    text-decoration: underline;
    color: #5c9ead;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}