@media only screen and (min-width: 768px) {
    
    /* Ham Menu Change */
    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    /* Styles */
    .s1 div, .s2, .events, .weather {
        max-width: 540px;
        margin: auto;
    }
}