@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'poppins', sans-serif;
    
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
}

main img {
    width: 100%;
    height: auto;
    background: #000;
    animation: fade 5s;
    margin-top: 10px;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
    margin: 0 auto;
}