@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin:0 auto !important;
    background-color: #141B41;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #508CA4;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}

header img {
    width: 100px;
    padding: 20px;
}

header h1 {
    padding: 20px;
    color: white;
}

nav {
    background-color: black;
    border-radius: 0 0 10px 10px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: white;
    margin: 0;
}

nav ul li {
    padding: 10px 15px;
}

main {
    margin: auto;
    width: 1000px;
}

main h2 {
    text-align: center;
    padding: 20px;
    border-bottom: #508CA4 2px solid;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.activities ul{
    list-style-type: none;
}

.activities, .card {
    border: black 2px solid;
    border-radius: 10px;
    background-color: white;
}

.activities h3, .card h3 {
    background-color: #508CA4;
    color: white;
    padding: 20px;
    margin: 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.activities div, .card div {
    padding: 20px;
}

.card div {
    text-align: center;
}

footer {
    padding: 20px;
    color: white;
    border-radius: 10px;
}