@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin:0 auto !important;
    background-color: #141B41;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #508CA4;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}

header img {
    width: 100px;
    padding: 20px;
}

header h1 {
    padding: 20px;
    color: white;
}

main {
    margin: auto;
    /* width: 1000px; */
}

main h2 {
    text-align: center;
    padding: 20px;
    border-bottom: #508CA4 2px solid;
    color: white;
}

/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.activities {
    grid-column: 1/3;
} */

.activities ul{
    list-style-type: none;
}

.activities, .card {
    border: black 2px solid;
    border-radius: 10px;
    background-color: white;
}

.activities h3, .card h3 {
    background-color: #508CA4;
    color: white;
    padding: 20px;
    margin: 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.activities div, .card div {
    padding: 20px;
}

.card div {
    text-align: center;
}

.map {
    padding: 20px 0;
}

footer {
    padding: 20px;
    color: white;
    border-radius: 10px;
}

/* ************** Hamburger Menu **********************
/* Mobile View */

nav {
    background-color: black;
    border-radius: 0 0 10px 10px;
}

nav ul {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    list-style-type: none;
    color: white;
    margin: 0;
    flex-direction: column;
}

nav ul li {
    padding: 15px 15px;
}

ul.navigation {
    padding: 0px;
    text-align: center;
}

#menu {
    display: block;
    font-size: 2rem;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
    text-decoration: none;
}

#menu::before {
    content: "≡";
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    text-decoration: underline;
    color: #ac3931;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

/* Wafinder Marker */

.wayfinder {
    background-color: #ac3931;
    border-radius: 0 0 10px 10px;
}

.wayfinder a:hover {
    color: black;
}

/* Media Query for wider than mobile viewports */

@media only screen and (min-width: 40em) {
    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }
}